// Colors

$primary: #901c1c;
$secondary: #d3573c;
$secondary-light: #db8876;
$tertiary: #525252;
$quadrary: #fafafa;

// radius
$radius: 0.6rem;

// Responsive
$bigPhone: 42.5rem;
$tablet: 76.8rem;
$desktop: 120rem;

$page-max-width: 140rem;
