.cards-media-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10rem;
  @include bigPhone-and-higher {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    animation: apparition 0.8s ease-in-out;
  }
}
.cards-media {
  width: 95vw;
  height: 19rem;
  margin-top: 5rem;
  color: $primary;
  animation: apparition-up 0.8s ease-in-out;
  @include bigPhone-and-higher {
    width: 30rem;
    margin: 3rem;
  }
}
.cards-media-footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 0.5rem;
  padding: 1% 2%;
  font-size: 1.5em;
  align-items: center;
  .cards-media-title {
    font-weight: 400;
    font-size: 1.7rem;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 1rem;

    text-overflow: ellipsis;
  }
  .header-like {
    display: flex;
    text-align: center;
    position: relative;
    left: 0;
    .heart {
      text-align: center;
      color: $primary;
      font-size: 2rem;
    }
    .compteur {
      margin-right: 0.5rem;
    }
  }
}
.media-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: $radius;
  transition: transform 0.5s ease-in-out;
  position: relative;

  &:hover {
    transform: scale(1.1);
  }
}

.cards-Img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: $radius;
  position: relative;
}

.heart-anim {
  animation: pulse 1.3s linear;
}
