.lightbox {
  display: none;
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: rgb(219, 219, 219), $alpha: 0.7);

  .lightbox-windows {
    color: $primary;
    width: 100%;
    height: 100%;
    position: relative;
    animation: apparition-down 0.8s ease-in-out;

    @include tablet-and-higher {
      width: 100%;
      height: 100%;
    }

    .container-slides {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      margin: auto;
      border-radius: $radius;
      background-color: rgb(255, 255, 255);
      overflow: hidden;

      .active {
        opacity: 1 !important;
      }

      img {
        margin: auto;
        height: 85%;
        width: 70%;
        position: absolute;
        border-radius: $radius;
        background-color: rgb(134, 134, 134);
        object-fit: cover;
      }

      video {
        display: flex;
        margin: auto;
        position: absolute;
        height: 85%;
        width: 70%;
        border-radius: $radius;
        background-color: rgb(134, 134, 134);
        object-fit: cover;
      }
    }

    .commandes {
      top: 0px;
      width: 100%;
      height: 100%;
      position: absolute;

      .close {
        position: absolute;
        border: none;
        background-color: transparent;
        font-size: 2rem;
        top: 2%;
        right: 7%;
        font-size: x-large;
        cursor: pointer;
        color: $primary;
      }

      .right,
      .left {
        position: absolute;
        width: 60px;
        height: 100px;
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        em {
          font-size: 40px;
          position: relative;
          color: $primary;
        }
      }
    }

    .commandes button:nth-child(1) {
      top: 40%;
      transform: translate(-50%);
      left: 10%;
    }

    .commandes button:nth-child(1) em {
      left: -10px;
    }

    .commandes button:nth-child(2) {
      top: 40%;
      transform: translate(50%);
      right: 7%;
    }

    .commandes button:nth-child(2) em {
      right: 7%;
    }
  }
}

.titre-media-lightbox {
  position: absolute;
  margin-right: 10%;
  bottom: 2%;
  left: 15%;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 500;
}
