.return-main {
  display: none;
  position: fixed;
  top: 0;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  background-color: $secondary-light;
  border-radius: 0 0 $radius $radius;
  padding: 0.8rem 0.8rem;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
  color: black;
  z-index: 9999;

  &:hover {
    background-color: $primary;
    color: white;
  }
}
